#namanyay-search-btn {
background:black;
color:white;
margin-top:19px;
font: 'trebuchet ms', trebuchet;
border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
-webkit-border-radius:0 5px 5px 0;
-o-border-radius:0 5px 5px 0;
border:0 none;
font-weight:bold;
}
 


#namanyay-search-box {
background: #eee;
 border-radius:5px 0 0 5px;
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 0 0 5px;
-o-border-radius:5px 0 0 5px;
border:0 none;
width:300px;
-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
 }